
<div class="modal fade" id="createProject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createProjectLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="createProjectLabel">Создать проект</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		<form action="{% url 'todo:create_project' %}" method="POST">
			{% csrf_token %}
			{{ create_project_form.as_p }}
			<input type="submit">
		</form>
		</div>
    </div>
  </div>
</div>
